.activity_footer {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.activity_footer .images {
  float: left;
}

.activity_footer .images img {
  margin-left: -15px
}

.activity_footer .images img:first-child {
  margin-left: 0;
}

.activity_footer span {
  color: #90a4af;
  font-size: 0.88888em;
}