.widget {
  position: relative;
  display: block;
  border-radius: 6px;
  box-shadow: 1px 1px 0px 0px #e7e7e7;
  overflow: hidden;
  min-width: 360px;
  margin: 0 20px 20px 20px;
}

.widget_body {
  overflow: hidden;
  border-bottom: 1px solid #e4e4e4;
  height: 183px;
}

.widget_footer {
  height: 36px;
}

@media (min-width: 500px) {
  .widget {
    width: 392px;
    float: left;
    margin: 0 0 20px 20px;
  }
}